body {
    font-family: 'open sans', sans-serif;
    font-size: 120%;
    font-weight: 600;
    background-color: #404040
} 
h1, h2 {
    color: rgb(53,125,130);
}
p {
    color: rgb(191,201,204);
}
figcaption {
    color: rgba(3,123,135,255);
}