body {
    font-family: 'open sans', sans-serif;
    font-size: 120%;
    font-weight: 600;
    background-color: #a1a1a1
} 
h1, h2 {
    color: rgb(155, 0, 108);
}
p {
    color: rgb(0, 0, 0);
}
figcaption {
    color: rgb(53, 3, 99)
}